body {
	font-family: Calibri, Helvetica, sans-serif;
	margin:0;
	padding:0;
}

#navbar {
  background-color: #333;
  z-index: 10;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0%;
}

#navbar a {
	color: #f2f2f2;
	padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	display: block;
}
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Arrow */

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid gray;
  vertical-align: center;
}

/* First Dropdown */

.dropdown {
  float: left;
}

/* Sizing */

@media screen and (max-width: 900px) {
  .dropdown .dropbtn {   
    width: 150px;
  }
}

@media screen and (min-width: 901px) {
  .dropdown .dropbtn {   
    width: 300px;
  }
}
 
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.navbar a:hover, .dropbtn:hover, .dropbtn:focus {
  background-color: #ddd;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* Second Dropdown */

.dropdowna {
  float: left;
 }

/* Sizing */

@media screen and (max-width: 900px) {
  .dropdowna .dropbtna {   
    width: 150px;
  }
}

@media screen and (min-width: 901px) {
  .dropdowna .dropbtna {   
    width: 300px;
  }
}

.dropdowna .dropbtna {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.navbar a:hover, .dropbtna:hover, .dropbtna:focus {
  background-color: #ddd;
  color: black;
}

.dropdown-contenta {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contenta a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-contenta a:hover {
  background-color: #ddd;
}

.showing {
  display: block;
}

/* Design Brief */

@media screen and (max-width: 900px) {
  .boxing {   
    width: 100px;
  }  
}

@media screen and (min-width: 901px) {
  .boxing {   
    width: 250px;
  }
}


/* CSS Classes on CTE */

.course {
	padding-left: 20px;
	padding-right: 20px;
}

.courses {
	display: grid;
	height: 100%;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
	grid-gap: 20px;
}

.courseheading {
	grid-column: 1 / -1;
	padding: 100px;
	/* background-image: linear-gradient(#ddd6f3 , #faaca8); */
	background-color: #ED3725;
	text-align: center;
	vertical-align: center;
	font-size: 60px;
	font-weight: bold;
	color: white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
}

.coursesubheading {
	padding-left: 10px;
	font-size: 40px;
	padding: 5px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-family: Tahoma, Geneva, sans-serif;
}

.padding {
	background-color: #ED3725;
	padding: 20px;
	height: 600px;
}

.studentprojects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
	background-color: #ff9999;
	padding: 20px;
	grid-gap: 20px;
	justify-items: center;
}

.dot {
	font-size: 40px;
	color: white;
}

.projectphoto {
	width: 100%;
	height: 100%;
}

.projectinfo {
	display: flex;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.studentheading {
	text-align: center;
	grid-column: 1 / -1;
	font-size: 30px;
}

.project {
	display: flex;
	font-size: 15px;
	justify-content: center;
	align-items: center;
}

.space {
	grid-column: 1 / -1;
	padding: 10px;
}

.browse {
	display: grid;
	grid-template-rows: 1;
	grid-template-columns: 4;
}

/* Meet the Teachers */

.teachers {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	background-color: #191970;
	padding-bottom: 20px;
}

.teachheading {
	grid-column: 1 / -1;
	text-align: center;
	vertical-align: center;
	font-size: 40px;
	font-weight: bold;
	color: white;  
	margin-top: 20px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	padding-bottom: 20px;
}

.box {
	display: flex;
	flex-direction: column;
	width: 250px;
	padding: 0px;
}

.teachname{
	text-align: center;
	font-size: 25px;
	padding: 10px;
	border-bottom: 1px solid black;
}

.teachertemplate {
	background-color: white;
}

.teachertemplatespecial {
	margin-top: 20px;
	background-color: white;
	grid-column: 1 / -1;
	text-align: center;
}

.teachertemplate p {
	color: black;
	text-align: center;
}

.des {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.email {
	border-top: 1px solid black;
	text-align: center;
	padding: 10px;
}

.text {
}

.emailspecial {
	border-top: 1px solid black;
}

.textspecial {
	padding: 10px;
}

.teacherpic {
	width: 100%;
	height: 100%;
	justify-content: stretch;
}

.miniheading {
	text-align: center;
	font-size: 25px;
	grid-column: 1 / -1;
	padding: 10px;
	
}

/* Slideshow Code */

.container {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.slides {
	display: flex;
	height: 400px;
	width: 600px;
	flex-direction: column;
    overflow:hidden;
	border: 1px solid black;
	position: relative;
	margin:0 auto;
 }
.content {
	list-style:none;
}
.item {
}
/* keyframes #anim_slides */

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.content .item {
    opacity:0;
    position:absolute;
    top:0;
    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 10.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 10.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
/* css3 delays */
.item:nth-child(2), .item:nth-child(2) div {
    -webkit-animation-delay: 5.0s;
    -moz-animation-delay: 5.0s;
}


/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:9%;
        opacity:1;
    }
    20% {
       left:9%;
       opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
   }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.words {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:15px;
    margin:0 auto;
    padding:30px;
    position:absolute;
    top:70%;
    width:450px;
	height: auto;
	text-align: center;
    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 18.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 18.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
