/* Testing */
/* Style tab links */

body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.chapter_content {
	background-color: white;
	height: auto;
	margin: 0;
}

.chapter_content h1 {
	padding: 20px;
}

.chapter_content p {
	line-height: 30px;	
	font-size: 20px;
}

.intro {
	display: grid;
    background: url(TSA_LOGO.jpg) top center; /* replace image */
	background-size: cover;
    padding: 30px;
    text-align: center;
	height: 100vh;
	
}

#navbar {
  overflow: hidden;
  background-color: #333;
  z-index: 100;
  display: flex;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.chapter {
  display: none;
}

.cte {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* when a link is clicked, it gets highlighted */
.highlighted {
  color: red;
}

/* make each section taller and give them different colors */
.content {
  background-color: white;
  height: auto;
  margin: 0;
}

.content div {
	text-align: center;
}

/* About Us */
#section1 {
  background-color: white;
  z-index: 10;
}

.tsa_desc {
	padding: 50px;
}
.tsa_desc h1 {
	font-size: 100px;
	margin: 0;
}

.tsa_desc p {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	font-size: 25px;
}

#about_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.slideshow {
	display: grid;
	align-self: center;
	width: 100%;
	height: auto;
	border: 3px solid black;
	
}

#values {
	display: grid;
	width: 100%;
	background-color: white;
	grid-gap: 0px 5px;
}

#values h2 {
}

#values p {
	font-size: 15px;
	line-height: 25px;
}

.val_container {
	margin-left: 10px;
	margin-right: 10px;
}

#officers {
	grid-column: 1 / 4;
	background-color: white;
	margin-top: 120px;
	margin-bottom: 120px;
}

/* Caurosel Code 

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	height: auto;
    margin: auto;
	width: 50%;
  } */
  
#officer_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: white;
	justify-items: center;
	align-items: center;
	padding: 50px;
	grid-gap: 20px 0px;
}

.officer_pic {
	display: grid;
	border: 2px solid blue;
	justify-items: center;
	align-items: center;
}

.officer_desc {
	grid-gap: 20px 0px;
	background-color: white;
}

.officer_desc h4 {
	
}

.officer_desc button {
}

#section2 {
  background-image: linear-gradient(#FFFFFF, #6AB4FF);
  height: auto;
  margin: 0px;
  padding: 0px;
}

#Home {}
#Competitions {}
#Outreach {}

.tablink {
  background-color: white;
  color: black;
  float: left;
  border: 2px solid #ED3725;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.333%;
}

.tablink:hover {
  background-color: #ED3725;
  border: 2px solid white;
  color: white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.home_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

.schedule_table {
	text-align: center;
}

.schedule_table td{
	padding: 19px;
	border-bottom: 2px solid black; 
	font-size: 15px;
}

.schedule_table th {
	padding: 20px;
	border-bottom: 5px solid black; 
	font-size: 25px;
}

.updates {
	display: grid;
	align-items: center;
	grid-gap: 20px 0px;
}

.gen_grid {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	grid-gap: 20px 20px;
	padding: 30px;
}

#section3 {
	background-image: linear-gradient(#6AB4FF, #000066);  
	height: auto;
	margin: 0px;
	padding: 0px;
}

#section3 h1 {
	font-size: 60px;
}

.on_hist_grid {
	padding: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.t_container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.t_container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left_tl {
  left: 0;
}

/* Place the container to the right */
.right_tl {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left_tl::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right_tl::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right_tl::after {
  left: -12px;
}

/* The actual content */
.t_content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .t_container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .t_container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left_tl::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right_tl {
  left: 0%;
  }
}


.awards_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.awards_table {
    border-collapse: collapse;
	
}

.awards_table td{
	padding: 10px;
	border-bottom: 2px solid black; 
	text-align: center;
}

.awards_table th {
	padding: 10px;
	border-bottom: 5px solid black; 
	text-align: center;
}

.awards_table h2 {
	font-size: 200px;
}

.awards_pic {
}

.awards_title {
	border-bottom: 2px solid black;
}

.awards_heading {
	display: flex;  
	border-bottom: 2px solid black;
	justify-content: space-around;
	align-items: center;
}

.awards_events {
}

.awards_team {
}

.awards_places {
	
}

.award_content {
	display: flex;  
	border-bottom: 2px solid black;
	justify-content: space-around;
	align-items: center;
}

.award_event {
}

.award_team {
}

.award_place {
	
}

.inline-photo {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1em solid #fff;
  border-bottom: 4em solid #fff;
  border-radius: .25em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateY(4em) rotateZ(-5deg);
  transition: transform 4s .25s cubic-bezier(0,1,.3,1),
              opacity .3s .25s ease-out;
  max-width: 600px;
  width: 90%;
  will-change: transform, opacity;
}

.inline-photo.is-visible {
  opacity: 1;
  transform: rotateZ(0deg);
}

#section4 {
	background-color: white;
	height: auto;
}

#section4 h3 {
	font-size: 40px;
}

.class_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
}

/* Background zoom */
.parent {
    width: 300px ;
    margin: 20px;
    height: 200px;
    border: 1px solid blue;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
	cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

.child a {
    display: none;
    font-size: 35px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

/* Several different images */
.bg-one {background-image: url(cad.jpg);}
.bg-two {background-image: url(woodworking.jpg);}
.bg-three {background-image: url(business.jpeg);}
.bg-four {background-image: url(computers.jpg);}
.bg-five {background-image: url(digital_design.png);}
.bg-six {background-image: url(film.jpg);}

#teacher_row_one {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: white;
	justify-items: center;
	align-items: center;
	padding: 20px;
	grid-gap: 20px 0px;
}

#teacher_row_two {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
	justify-items: center;
	align-items: center;
	padding: 20px;
	grid-gap: 20px 0px;	
}

.teacher_desc {
	grid-gap: 20px 0px;
	background-color: white;
	border: 2px solid red;

}


.teacher_desc h3 {
	
}

.teacher_desc button {
}

/* Facilities */

.facilities {
	background-color: white;
	padding: 20px;
}
.fheading {
	font-size: 50px;
	text-align: center;
	vertical-align: top;
	padding: 20px;
	color: white;
	text-shadow: -3px 0 black, 0 1px black, 1px 0 black, 0 -3px black;
}

/* Slideshow Code */

.slide_container {
	padding-top: 0px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	z-index: -1;
}

.slides {
	display: flex;
	height: 400px;
	width: 600px;
	flex-direction: column;
    overflow:hidden;
	border: 1px solid black;
	position: relative;
	margin:0 auto;
 }
.slide_content {
	list-style:none;
}
.slide_item {
}
/* keyframes #anim_slides */

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.slide_content .slide_item {
    opacity:0;
    position:absolute;
    top:0;
    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
/* css3 delays */

.slide_item:nth-child(2), .slide_item:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slide_item:nth-child(3), .slide_item:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slide_item:nth-child(4), .slide_item:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:9%;
        opacity:1;
    }
    20% {
       left:9%;
       opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
   }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.words {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:20px;
    margin:0 auto;
    padding:20px;
    position:absolute;
    top:80%;
    width:450px;
	height: auto;
	text-align: center;
    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}