body{
    background-image: linear-gradient(#edf5e1,#8ee4aF, rgb(40, 113, 185), #635492);
}
.bi{
    justify-self: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
    display: block;
}
.navbar{
    position:fixed;
    z-index:1;
}

.logo{
    height: 30px;
    width: 30px;
}

.jumbotron .jumbotron-fluid{
    background-color:white;
    fill:white;
    color:white;
}
/* index */
.car-flex{
        display:flex;
        flex-direction:row;
        margin:5px;
        flex:wrap;
        justify-content:space-around;
}

    
.car-flex > div {
      margin:10px;
      text-align:center;
      padding:20px;
      flex:wrap;
}

.news{
    color:white;
}
.newsFlex{
    display: flex;
    flex-direction: row;
}

.newsFlex > div{
    height: 100%;
    width:50%;
}

.carSlideshow{
    /* background-color: #97CDAC; */
    height:auto;
    max-width: 100%;
    padding:10px;
}

.img1 {
    position: relative;
    animation: animateleft 0.4s linear;
    max-width:100%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;

}

.chart{
    height:400px;
    width: 100%;
}
.section{
    position: relative;
}
.article-flex{
    display: flex;
    flex-direction: column;
}

.article{
    height: 50%;
    width:100%;
    backface-visibility: hidden;
    
}



.subtitle{
transition: .5s ease;
opacity:0;
position: absolute;
top:75%;
padding:0 10px 0 10px;
background-color: rgba(0, 0, 0, 0.596);
}
.section:hover .subtitle{
    opacity: 1;
    
}
.section:hover .article{
    opacity: .75;
}

/* goals and history */
.goal-flex{
display: flex;
flex-direction: row;
flex-grow: 1 1;
color: white;
}

.goal-flex > div{
    margin:10px;
    padding:20px;
}

@keyframes animateleft {
    from {
        left: -300px;
        opacity: 0
    }

    to {
        left: 0;
        opacity: 1
    }
}


/* Get Updates */
.fakeimg {
    background-color: #ab95ee;
    width: 100%;
     padding: .5em;
  }

.get{
    text-align: center;
    color: white;
  }
.up{
  margin: 10px;
  color:white;
  }

  .fa-twitter {
      height: 50px;
      width: 50px;
  }

  .fa-instagram {
    height: 50px;
    width: 50px;
  }

  .fa {
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    height: auto;
  }
  

/* Energy/Electric Car */

