.navbar{
    position:fixed;
    z-index:1;
}

/* index */
.car-flex{
        display:flex;
        flex-direction:row;
        margin:5px;
        flex:wrap;
        justify-content:space-around;
}

    
.car-flex > div {
      margin:10px;
      text-align:center;
      padding:20px;
      flex:wrap;
}

/* Model 1-3 */

/* color buttons*/
#car{
    height:500px;
    width:500px;
    padding:0;
    margin:auto;
}
.car-buttons{
    text-align:center;
    margin:10px;
}

.red{
    background-color:red;
    border-radius:50%;
    margin: 0 10px;
    color:red;
    height: 32px;
    width: 32px;
}

.blue{
    background-color:royalblue;
    border-radius:50%;
    margin:0 10px;
    color:royalblue;
    height: 32px;
    width: 32px;
}

.black{
    background-color: black; 
    color: black;
    border-radius:50%;
    margin:0 10px;
    height: 32px;
    width: 32px;

}

.silver{
    background-color:silver;
    border-radius:50% 50%;
    margin: 0 10px;
    color:silver;
    height: 32px;
    width: 32px;
}

.colors{
  border:none;
  color:white;
  padding:auto;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:10px;
  margin:4px 2px;
  
  
}
/* Overview */
.specs-flex{
    display:flex;
    flex-direction:row;
    flex:wrap;
}

.specs-flex > div{
    margin:10px;
    text-align:center;
    padding:20px;
    flex:wrap;
    justify-content: space-evenly;
}
.cad-flex{
    display:flex;
    flex-direction:column;
    flex:wrap
}
.cad-flex > div{
    text-align:left;
    flex:wrap;
}
.speec{
    background-color: grey;
    color: black;
    height:50px;
    justify-content: space-evenly;
    justify-self: center;
    width: 100px;
}

/* slideshow */
.caption{
    border:solid black;
    color:white;
    background-color:#000000;
    width:500px;
    height:50px;
    margin: 0 100px;
}


.img{
    height:500px;
    width:500px;
    margin: 0 100px;
}


/* Spec */
.spec-flex{
    display:flex;
    flex-direction:row;
    flex:wrap;
    justify-content: space-evenly;
}

.spec-flex > div{
    margin:10px;
    text-align:center;
    padding:20px;
    flex:wrap;
}

.info-flex{
    display:flex;
    flex-direction: column;
}

.info-flex > div{
    margin:5px;
    text-align:center;
    padding:5px;
    flex:wrap;
}
/* Energy/Electric Car */

